.flex {
  display: flex;
}
body {
  overflow-x: hidden;
}

.header-section {
  background-image: url(../images/Group\ 65.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 324px;
  width: 100%;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body {
  background-color: white;
}

.navigation {
  max-width: 580px;
  width: 100%;
  margin-top: 35px;
}
.logo {
  margin-top: 30px;
  color: white;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
.li-list {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
 
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.li-tags {
  color: white;
}
.home-tag {
  color: #5863f8;
}
.rooms::after {
  content: "\02C5";
  margin-left: 3px;
  height: 3.47px;
  width: 8px;
}
.burger{
  display: none;
  color: white;
  font-size:xx-large;
  margin-top: 15px;
  margin-left: 450px;
}

.contact-devision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  float: left;
  margin-right: 950px;
  margin-top: 145px;
  width: 144px;
}
.contact-devision-h2 {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  color: #ffffff;
}
.contact-devision-h3 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  color: #ffffff;
  margin-top: 18px;
}

.home-h3::after {
  content: "\007C";
  margin-left: 17.5px;
}
.home-h3-2 {
  margin-left: 17.5px;
}

.map-class {
  max-width: 1088px;
  width: 100%;
  height: 286px;
}
.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.contact-info {
  width: 331px;
  display: inline-block;
  margin-top: 100px;
  margin-left: 60px;
}
.contact-h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  color: #5863f8;
}
.contact-h2 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
}

.text-area {
  max-width: 720px;
  width: 100%;
  height: 288px;
  margin-left: 60px;
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
  border: 3px solid #ccc;
  background-color: #ede8e8;
  float: left;
}


.forms-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}
.describtion-div {
  max-width: 720px;
  width: 50%;
  height: 288px;
  position: relative;
}
.describe-cl {
  max-width: 720px;
  width: 100%;
  height: 288px;
  background-color: #E8E8E8;
}
.little-forms {
  max-width: 352px;
  width: 50%;
  margin-left: 16px;
}
.inputs-cl {
  max-width: 352px;
  width: 100%;
  height: 60px;
  margin-bottom: 16px;
  background-color: #E8E8E8
}
.submit-cl {
  background-color: #5863F8;
  color: white;
}

.middle-division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1086px;
  width: 100%;

  margin-left: 129px;
  margin-top: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.middle-box-1 {
  border: 16px solid;
  border-color: #5863f8;
  border-radius: 50%;
  display: inline-block;
  background-color: #5863f8;
}
.middle-blocks-h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  margin-top: 15px;
  margin-bottom: 6px;
}
.middle-blocks-h3 {
  font-family: "Poppins", sans-serif;
  color: #b1b1b1;
  font-size: 14px;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

.photo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-space {
  margin: 0 auto;
  width: 100%;
  height: 395px;
  background-color: black;
  /* position: relative; */
}
.footer-block-1 {
  max-width: 260px;
  width: 100%;
  height: 190px;
  /* position: absolute; */
  top: 90px;
  left: 139px;
}
.footer-logo {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: white;
  font-weight: 700;
}
.footer-txt {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #B1B1B1;
}
.fa-facebook {
  color: #3B5998;
  font-size: 35px;
}
.fa-twitter-square {
  font-size: 35px;
  color: #55ACEE;
}
.fa-google-plus {
  font-size: 35px;
  color: #DC4E41;
}
.fa-brands {
  margin-top: 20px;
  margin-left: 10px;
}
.links {
  max-width: 103px;
  width: 100%;
  height: 155px;
  /* position: absolute; */
  left: 600px;
  top: 90px;
}
.all-links {
  font-family: 'Poppins', sans-serif;
  color: #5863F8;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 700;
}
.div {
  max-width: 78px;
  width: 100%;
  height: 155px;
  /* position: absolute; */
  right: 650px;
  top: 90px;
}
.infos3 {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
}
.info-div {
  max-width: 198px;
  width: 100%;
  height: 145px;
  /* position: absolute; */
  right: 200px;
  top: 90px;
}


.mail-a::before {
  content: url(../images/mail.svg);
  margin-right: 14px;
}
.phone-a::before {
  content: url(../images/phone.svg);
  margin-right: 14px;
}
.location-a::before {
  content: url(../images/map-pin.svg);
  margin-right: 14px;
}
.copy-2::before {
  content: '\00A9';
}
.copy-3::before {
  content: '\007C';
  padding-right: 4px;
}

.copy-style {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #B1B1B1;
}
.lastword {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #5863F8;
}
.copy-div {
  max-width: 600px;
  width: 100%;
  /* position: absolute; */
  left: 139px;
  bottom: 40px;

}
.site-a {
  max-width: 174px;
  width: 100%;
  /* position: absolute; */
  right: 139px;
  bottom: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #5863F8;
}
.info-wrapper {
  justify-content: space-around;
  margin-top: 30px;
  
}
.links-wrapper {
  justify-content: space-between;
}
.mt30 {
  margin-top: 30px;
}